body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dfe0e2;
}

header {
  background-color: #cdcecf;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  text-align: center;
}

.form-group {
  background-color: #cdcecf;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  color: #59429d;
  appearance: textfield;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
/* Div da tela de resultado*/
.resultadodiv{
  background-color: #cdcecf;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;
  margin-bottom: 20px;  
}